$primary-color: #1ab6ea;
$secondary-color: #5b8065;
$font-family: Arial, sans-serif;

body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
}
h1 {
  color: $primary-color;
  text-align: center;
}
.search {
  display: flex;
  place-content: center;
  gap: 10px;
  margin:20px 0;
  &-input {
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 5px;
    background-color: rgba(228, 226, 226, 0.343);
    :focus {
      outline: none;
      box-shadow: 0 0 5px $primary-color;
    }
  }
  &-button {
    border: none;
    padding: 10px 20px;
    background-color: $secondary-color;
    color: white;
    border-radius: 5px;
  }
}